:root {
  --body-color: #eef5f6;
}
/* These styles will all be purged */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles will be purged */
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  /* My styles */
  .jumbotron {
    position: relative;
    overflow-y: hidden;
  }
  .jumbotron > div:first-child {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
  }
  .hero__content {
    position: relative;
  }
  .mobile__menu ul li a {
    display: block;
    padding: 16px 0;
  }
  .custom__divider {
    height: 1px;
    opacity: 0.2;
  }
}
