:root {
  --body-color: #eef5f6;
}
/* These styles will all be purged */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles will be purged */
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  /* My styles */
  .jumbotron {
    position: relative;
    overflow-y: hidden;
  }
  .jumbotron > div:first-child {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
  }
  .hero__content {
    position: relative;
  }
  .mobile__menu ul li a {
    display: block;
    padding: 16px 0;
  }
  .custom__divider {
    height: 1px;
    opacity: 0.2;
  }
  .card {
    position: relative;
    overflow: hidden;
    height: 420px;
  }
  .card:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(1, 44, 44, 0.8) 100%
    );
    z-index: 1;
  }
  .card__image {
    z-index: 0;
  }
  .card__title {
    position: relative;
    z-index: 1;
  }
  .card__text {
    position: relative;
    z-index: 1;
  }
  .card__link {
    position: relative;
    z-index: 1;
  }
}
